# Emacs
*~
*.elc
\#*
personal.el
backups
auto-save-list
abbrev_defs

# Installed with Makefile and MELPA
elpa
site-lisp/*
!site-lisp/Makefile

# Third party
url/*
data/*
!data/Readme.md
places
session.*
tramp
swank
eshell
.yas-compiled-snippets.el
.litable-lists.el
*.dat
.python-environments

# OS
.DS_Store